body{
    background-color: orange;
    font-size: 18px;
}

#title,#burgerimage{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    margin-left: 20%;
}
#burgerinput{
    height: 100px;
}
#burgerbutton{
    margin-top: 35px;
}
#description{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}